// COLOR VARIABLES
$color-ui-bg: #191820;
$color-ui-container: #23222a;
$color-text-secondary: #807c92;
$color-text-base: #e7e6eb;

$color-ui-base: #A4FFAF;
$color-ui-warning: #F8CD65;
$color-ui-danger: #F87C58;
$color-ui-extreme: #F64A4A;